<div class="p-4">
    <form class="flex flex-col gap-6 p-2" [formGroup]="configurationForm" (ngSubmit)="handleSubmit()">
        <div class="flex flex-col gap-2 p-2 w-12/12 max-h-[65vh] overflow-x-auto">
            <label class="font-bold text-[#283943] uppercase"> Nombre configuracion</label>
            <input type="text"
                class="p-2 border-[#0061A0] focus:border-[#0061A0] border-b-[0.2rem] focus:border-b-[0.2rem] rounded focus:outline-none focus:ring-0"
                formControlName="nombre_config"
                [ngClass]="{'border-red-500': configurationForm.get('nombre_config')?.invalid && configurationForm.get('nombre_config')?.touched}" />
            <span
                *ngIf="configurationForm.get('nombre_config')?.invalid && configurationForm.get('nombre_config')?.touched"
                class="text-red-500">
                El nombre es obligatorio.
            </span>

            <label class="font-bold text-[#283943] uppercase">Valor</label>
            <input type="text"
                class="p-2 border-[#0061A0] focus:border-[#0061A0] border-b-[0.2rem] focus:border-b-[0.2rem] rounded focus:outline-none focus:ring-0"
                formControlName="valor"
                [ngClass]="{'border-red-500': configurationForm.get('valor')?.invalid && configurationForm.get('valor')?.touched}" />
            <span *ngIf="configurationForm.get('valor')?.invalid && configurationForm.get('valor')?.touched"
                class="text-red-500">
                El valor es obligatorio.
            </span>


       <div class="flex justify-between px-2 w-12/12">
                <button class="bg-[#0061A0] py-2 rounded w-5/12 text-white" type="submit">
                    {{ configuration ? 'Actualizar' : 'Crear' }}
                </button>
                <button class="py-2 border border-gray-300 rounded w-5/12" (click)="onClose.emit()" type="button">Cancelar</button>
            </div>
        </div>
    </form>
</div>